In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('C:/Users/MSCIT/Desktop/IceCreamData.csv')
df.head(5)

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

In [27]:
x = df[['Temperature']]
y = df[['Revenue']]

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)       
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [29]:
y_pred = model.predict(x_test)
y_pred

array([[698.3385558 ],
       [653.32331149],
       [664.73027451],
       [450.5192845 ],
       [665.47469743],
       [441.36861407],
       [584.06540609],
       [623.82532723],
       [667.48717467],
       [468.72433832],
       [546.82733151],
       [443.41191785],
       [622.95162777],
       [377.64639971],
       [367.0607334 ],
       [945.67057977],
       [893.79551974],
       [694.45445099],
       [546.05047608],
       [420.58523672],
       [391.08500303],
       [597.0141581 ],
       [283.23582775],
       [655.50055011],
       [380.98796154],
       [412.31810124],
       [371.05055651],
       [510.23910289],
       [479.70270426],
       [456.68206658],
       [640.1157508 ],
       [281.65224383],
       [314.1894674 ],
       [470.01363777],
       [559.72453055],
       [539.75091165],
       [307.72368191],
       [508.65180339],
       [571.43237276],
       [732.25599161],
       [440.44010989],
       [494.39422767],
       [567.56536766],
       [443.94181482],
       [914.46632525],
       [603.19341879],
       [541.83315574],
       [199.94980451],
       [694.04258508],
       [351.09960842],
       [189.49123987],
       [576.80689646],
       [216.55393778],
       [468.15141951],
       [461.80905978],
       [448.43970076],
       [494.89418532],
       [801.3758273 ],
       [331.24527072],
       [540.42751209],
       [661.1953557 ],
       [526.66690494],
       [360.66507037],
       [451.46656256],
       [621.57729407],
       [254.83395119],
       [290.1749214 ],
       [525.5900171 ],
       [656.68802152],
       [663.1062835 ],
       [740.96627734],
       [184.48524774],
       [593.42653041],
       [148.41501952],
       [485.97744998],
       [611.03624804],
       [664.50658946],
       [473.51664017],
       [785.34682628],
       [422.11909846],
       [169.76879503],
       [820.72328003],
       [434.39990573],
       [325.82688811],
       [660.07484042],
       [586.46853445],
       [415.89811147],
       [651.95510136],
       [865.22669518],
       [265.88922879],
       [577.32110608],
       [ 43.73357869],
       [901.24435059],
       [621.87554173],
       [759.07316169],
       [465.78060018],
       [758.74558525],
       [711.30125473],
       [394.45680968],
       [559.53716333]])

In [30]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9837324255882576